.resume-brief {
    display: flex;
    margin-top: 1em;
}

.resume-icon {
    width: 3em;
    height: 3.6em;
}

.resume-img {
    border-radius: 0.75em;
    margin-top: 0.15em;
    width: 3em;
    height: 3em;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.32);
}

.resume-left {
    text-align: left;
    width: 65%;
    padding-left: 0.79em;
    line-height: 1.75em;
}

.resume-right {
    text-align: right;
    width: 30%;
    line-height: 1.75em;
}

.resume-detail {
    margin-top: -0.2em;
    margin-bottom: 1.5em;
}

.resume-corec-detail {
    display: none;
}

.resume-corec-img {
    width: 16px;
    margin-left: 5px;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: rotate(45deg);
}

.resume-corec-img :hover {
    cursor: pointer;
}

.resume-corec-note {
    font-size: 0.8em;
    line-height: 1.2em;
}

.resume-corec-container {
    display: flex;
    width: 100%;
}

.resume-corec-column {
    width: 32%;
    font-size: 0.9em;
}

.resume-corec-middle {
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 1%;
    padding-right: 1%;
    border-left: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
}

.resume-corec-column-detail {
    font-size: 0.89em;
}

.resume-corec-split {
    margin-top: 5px !important;
    margin-bottom: 3px !important;
}